<style type="text/css">
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        padding: 3px 5px;
    }

    .label .label-info{
        width: 2em;
    }
</style>

<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Nomina de Empleados</h3>
    </div>

    <div class="panel-body">
        <form id="jsForm" role="form" class="form-horizontal" ng-submit="refreshGrid();">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label">Legajo</label>
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-model="filterCriteria.legajo" ng-enter="(permisos.buscarAgente&&!legajoBuscado)?busquedaSimple():null" ng-readonly="legajoBuscado"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default" ng-click="(!legajoBuscado)?busquedaSimple():null" ng-if="permisos.buscarAgente">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-default" ng-click="clear();" ng-disabled="!permisos.buscarAgente">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </span>
                    </p>

                </div>

                <label class="col-sm-2 control-label">Estado</label>
                <div class="col-md-4">
                    <select ng-options="item.value as item.label for item in estados"
                            ng-model="filterCriteria.estado" class="form-control">
                        <option value="">SELECCIONE</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <div class="col-md-12">
                    <div class="btn-toolbar pull-right">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                        <button class="btn btn-primary" type="button" ng-click="new()">Nuevo</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-left">Nombre y Apellido</th>
                        <th class="text-left">Puesto</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody id="dataContainer">
                    <tr ng-repeat="e in employees">
                        <td class="text-center">{{e.id}}</td>
                        <td class="text-left">{{e.name}} - {{e.lastname}}</td>
                        <td class="text-left">{{e.puesto}} - {{e.puesto}}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="fui-gear glyphicon glyphicon-cog "></span>
                                    Acciones
                                    <span class="caret"></span>
                                </button>
                                <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="" ng-click="ver(e.id)"><span class="glyphicon glyphicon-eye-open"></span>&nbspVer</a></li>
                                    <li><a href="" ng-click="editar(e.id)"><span class="glyphicon glyphicon-edit"></span>&nbsp;Editar</a></li>
                                    <li><a href="" ng-click="eliminar(e.id)"><span class="glyphicon glyphicon-remove"></span>&nbsp;Eliminar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="row">
            <div class="ibox">
                <div  class="col-md-offset-5">
                    <uib-pagination items-per-page= "paginate.pageSize"  total-items="paginate.totalResults" ng-model="paginate.pageNumber" ng-change="selectPage()
                                "previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                    max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false">
                    </uib-pagination>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm">
                <div class="col-md-12">
                    <div class="btn-toolbar pull-right">
                        <button type="button" ng-click="save()" class="btn btn-primary">Guardar</button>
                        <button class="btn btn-primary" ng-click="cancelar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
