

<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Nueva / Editar Area</h3>
        <!--{{ getActionName()}}-->
    </div>
    <div class="panel-body">
        <form id="jsForm" role="form"  class="form-horizontal" ng-submit="save()">

            <div class="form-group ">
                <label class="col-sm-2 control-label">Nombre</label>
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="text" class="form-control" ng-model="area.name"
                               id="name" name="name" />
                        <span class="input-group-btn">
                    <button type="button" class="btn btn-default">
                        <i class="glyphicon glyphicon-home"></i>
                    </button>
                </span>
                    </p>
                </div>
            </div>

            <div class="form-group ">
                <label class="col-sm-2 control-label">Tipo</label>
                <p class="col-md-4">
                    <select ng-options="item.id as item.description for item in types"
                            ng-model="area.type" class="form-control" disabled>
                        <option value="">SELECCIONE</option>
                    </select>
                </p>
            </div>

            <div class="form-group ">
                <label class="col-sm-2 control-label">Padre</label>
                <p class="col-md-4">
                    <select ng-options="item.id as (item.name|uppercase) for item in parents"
                            ng-model="area.parentId" class="form-control">
                        <option value="">SELECCIONE</option>
                    </select>
                </p>
            </div>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Datos de Autorizacion</legend>
                <div class="form-group form-group-sm">
                    <p>
                        <input type="checkbox" ng-model="area.authMoney" id="money"/>
                        <label class="col-sm-2 control-label" for="money" >Autoriza Dinero</label>
                    </p>
                </div>
                <div class="form-group form-group-sm">
                    <p>
                        <input type="checkbox" ng-model="area.authPermission" id="permission"/>
                        <label class="col-sm-2 control-label" for="permission">Autoriza Permisos</label>
                    </p>
                </div>
                <div class="form-group form-group-sm">
                    <p>
                        <input type="checkbox" ng-model="area.authOtherResources" id="resource"/>
                        <label class="col-sm-2 control-label" for="resource">Autoriza Otros Recursos</label>
                    </p>
                </div>
            </fieldset>

        </form>
    </div>
</div>

<br>
<div class="row">
        <div class="form-group ">
            <div class="col-md-12">
                <div class="btn-toolbar pull-right">
                    <button type="button" ng-click="save()" class="btn btn-primary">Guardar</button>
                    <button class="btn btn-primary" ng-click="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
</div>