<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Areas y Puestos</h3>
        <!--{{ getActionName()}}-->
    </div>
    <div class="panel-body">
        <div class="form-control-sm" id="tree" name="tree">

        </div>
    </div>
</div>
