<style type="text/css">
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        padding: 3px 5px;
    }

    .label .label-info{
        width: 2em;
    }
</style>

<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Nomina de Empleados</h3>
    </div>

    <div class="panel-body">
        <form id="jsForm" role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Area</label>
                <div class="col-md-4">
                    <select ng-options="item.id as item.name for item in areas" ng-change="changeArea(filterCriteria.areaId)"
                            ng-model="filterCriteria.areaId" class="form-control">
                        <option value="" disabled>SELECCIONE</option>
                    </select>
                </div>

                <label class="col-sm-2 control-label">Puestos</label>
                <div class="col-md-4">
                    <select ng-options="item.id as item.name for item in positions"
                            ng-model="filterCriteria.positionId" class="form-control">
                        <option value="" disabled>SELECCIONE</option>
                    </select>
                </div>
            </div>

            <div class="form-group ">
                <div class="col-md-12">
                    <div class="btn-toolbar pull-right">
                        <button class="btn btn-primary" ng-click="searchEmployees(filterCriteria.positionId)">Buscar</button>
                    </div>
                </div>
            </div>
        </form>

        <br><br>

        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-left">Nombre</th>
                        <th class="text-left">Puesto</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody id="dataContainer">
                    <tr ng-repeat="e in employees">
                        <td class="text-center">{{e.id}}</td>
                        <td class="text-left">{{e.name|uppercase}}</td>
                        <td class="text-left">{{e.position.name|uppercase}}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="fui-gear glyphicon glyphicon-cog "></span>
                                    Acciones
                                    <span class="caret"></span>
                                </button>
                                <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="" ng-click="view(e.id)"><span class="glyphicon glyphicon-eye-open"></span>&nbspVer</a></li>
                                    <li><a href="" ng-click="edit(e.id)"><span class="glyphicon glyphicon-edit"></span>&nbsp;Editar</a></li>
                                    <li><a href="" ng-click="delete(e.id)"><span class="glyphicon glyphicon-remove"></span>&nbsp;Eliminar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm">
                <div class="col-md-12">
                    <div class="btn-toolbar pull-right">
                        <button class="btn btn-primary" ng-click="cancel()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
