<div ng-controller="alertMessagesController">
    <div class="alert  fade in" ng-class='alert.type && "alert-" + alert.type' data-ng-repeat="alert in alerts track by $index">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-ng-click="alertMessagesController.closeAlertMessage($index)">×</button>
        {{ alert.msg}}
    </div>
</div>
<div ui-view class="container"></div>